<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>UpGrade Demo - Home</title>
    <meta charset=utf-8 />
    <meta name="description" content="UpGrade Demo App" />
    <meta name="keywords" content="UpGrade, Demo, App" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, minimum-scale=0.75, maximum-scale=0.75" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;lang=en" />
    <link rel="stylesheet" href="/css/universal.css" />
    <link rel="stylesheet" href="/css/modal.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <script src="https://cdn.jsdelivr.net/npm/upgrade_client_lib@1.1.7/dist/bundle.min.js"></script>
    <script src="/js/upgrade-client-lib.js"></script>
    <script src="/js/fetch-wrapper.js"></script>
    <script src="/js/log-handler.js"></script>
    <script src="/js/data-resetter.js"></script>
    <script src="/js/modal.js"></script>
</head>

<body>
    <div id="wrapper">
        <div id="header" class="shadowed">
            <div id="title">
                <img id="upgrade-logo" src="/asset/image/upgrade-logo.png" alt="UpGrade Logo">
                <h2 id="title-text">UpGrade Demo</h2>
            </div>
            <div id="logout-button" class="unselectable">
                <div id="logo-wrapper">
                    <img id="google-logo" src="/asset/image/google-logo.png" alt="Google Logo">
                </div>
                <div id="text-wrapper">
                    <p id="button-text">Sign out</p>
                </div>
            </div>
        </div>
        <div id="main">
            <div id="sidebar" class="unselectable">
                <div class="tour-bar shadowed loading" id="tours-bar">
                    <div class="tour-wrapper">
                        <div id="tours-title">
                            <img id="tours-icon" class="recolor-444444" src="/asset/image/tours-icon.png" alt="Tours Icon">
                            <p class="tab-text" id="tours-text">Tours</p>
                        </div>
                        <img class="tour-icon recolor-444444" id="close-icon" src="/asset/image/close-icon.png" alt="Close Icon">
                    </div>
                </div>
                <div id="tours-container" class="loading">
                    <% for (const tour of tours) { %>
                    <div class="tour-bar shadowed">
                        <div class="tour-wrapper">
                            <p class="tour-text"><%= tour.name %></p>
                            <img class="tour-icon recolor-444444" src="/asset/image/arrow-icon.png" alt="Arrow Icon">
                        </div>
                        <div class="steps-container">
                            <% for (const step of tour.steps) { %>
                            <div class="step-bar step-<%= step.context %>">
                                <p class="step-text"><%= step.title %></p>
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
            <div id="app" class="shadowed">
                <div id="tabs" class="unselectable">
                    <div class="tab" id="tours-tab">
                        <div class="tab-top" id="tours-tab-top">
                            <img class="tab-icon recolor-444444" id="tours-icon" src="/asset/image/tours-icon.png" alt="Tours Icon">
                            <h4 class="tab-text" id="tours-tab-text">Tours</h4>
                        </div>
                        <div class="tab-bottom" id="tours-tab-bottom"></div>
                    </div>
                    <div class="tab loading" id="quiz-app-tab">
                        <div class="tab-top" id="quiz-app-tab-top">
                            <img class="tab-icon recolor-444444" id="quiz-app-icon" src="/asset/image/quiz-app-icon.png" alt="QuizApp Icon">
                            <h4 class="tab-text" id="quiz-app-tab-text">QuizApp</h4>
                        </div>
                        <div class="tab-bottom" id="quiz-app-tab-bottom"></div>
                    </div>
                    <div class="tab loading" id="admin-tool-tab">
                        <div class="tab-top" id="admin-tool-tab-top">
                            <img class="tab-icon recolor-444444" id="admin-tool-icon" src="/asset/image/admin-tool-icon.png" alt="Admin Tool Icon">
                            <h4 class="tab-text" id="admin-tool-tab-text">Admin Tool</h4>
                        </div>
                        <div class="tab-bottom" id="admin-tool-tab-bottom"></div>
                    </div>
                    <div class="tab loading" id="upgrade-tab">
                        <div class="tab-top" id="upgrade-tab-top">
                            <img class="tab-icon recolor-444444" id="upgrade-icon" src="/asset/image/upgrade-icon.png" alt="UpGrade Icon">
                            <h4 class="tab-text" id="upgrade-tab-text">UpGrade</h4>
                        </div>
                        <div class="tab-bottom" id="upgrade-tab-bottom"></div>
                    </div>
                    <div class="tab loading" id="dev-console-tab">
                        <div class="tab-top" id="dev-console-tab-top">
                            <img class="tab-icon recolor-444444" id="dev-console-icon" src="/asset/image/dev-console-icon.png" alt="Dev Console Icon">
                            <h4 class="tab-text" id="dev-console-tab-text">Dev Console</h4>
                        </div>
                        <div class="tab-bottom" id="dev-console-tab-bottom"></div>
                    </div>
                </div>
                <div id="iframe-wrapper" class="loading">
                    <iframe class="app-iframe" id="quiz-app-iframe"></iframe>
                    <iframe class="app-iframe" id="admin-tool-iframe"></iframe>
                    <iframe class="app-iframe" id="upgrade-iframe"></iframe>
                    <iframe class="app-iframe" id="dev-console-iframe"></iframe>
                    <div id="iframe-loading-animation"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Select the text and copy it to clipboard
        const copyToClipboard = (buttonElem, text) => {
            // Get the target text node to select text from
            const textNode = buttonElem.previousSibling;
            if (textNode.nodeType !== Node.TEXT_NODE) {
                return false;
            }
            // Select the text range to copy
            const content = textNode.textContent;
            const selectFrom = content.indexOf(text);
            const selectTo = selectFrom + text.length;
            const range = document.createRange();
            range.setStart(textNode, selectFrom);
            range.setEnd(textNode, selectTo);
            const selection = window.getSelection();
            selection.removeAllRanges();
            selection.addRange(range);
            try { // Security exception may be thrown by some browsers
                return document.execCommand("copy");
            } catch (error) {
                console.error(error);
                return false;
            } finally {
                // Create a blink effect
                buttonElem.style.visibility = "hidden";
                window.setTimeout(() => buttonElem.style.visibility = "visible", 100);
            }
        }

        window.addEventListener("load", async () => {
            // Show iframe loading animation
            const iframeLoadingAnimation = document.getElementById("iframe-loading-animation");
            iframeLoadingAnimation.style.opacity = 1;

            // Host URL
            const hostUrl = "<%= upgradeHostUrl %>";

            // Data resetter
            const dataResetter = new DataResetter(hostUrl);

            // Modals
            const confirmModal = new Modal();
            const tourModal = new Modal();

            // Show introduction modal window
            confirmModal.confirm("upgrade", "Welcome to the UpGrade Demo", `UpGrade empowers you to optimize learning experiences by deploying fair comparisons of different tools, models, or resources, helping you understand what changes work best for effective learning.<br><br>If you are new to UpGrade, let us show you around. Click on "Welcome Tour" in the left hand menu to see it in action.`, ["OK"]);

            // Load iframes
            const iframeWrapper = document.getElementById("iframe-wrapper");
            const quizAppIframe = document.getElementById("quiz-app-iframe");
            const adminToolIframe = document.getElementById("admin-tool-iframe");
            const upgradeIframe = document.getElementById("upgrade-iframe");
            const devConsoleIframe = document.getElementById("dev-console-iframe");
            const loadIframe = (iframe, src) => {
                return new Promise((resolve, reject) => {
                    iframe.onload = () => {
                        iframe.onload = null;
                        resolve(iframe);
                    }
                    iframe.onerror = reject;
                    iframe.src = src;
                });
            }
            await Promise.all([
                loadIframe(quizAppIframe, "/quiz-app/student/login"),
                loadIframe(adminToolIframe, "/admin-tool/summary"),
                loadIframe(upgradeIframe, "<%= upgradeBaseUrl %>"),
                loadIframe(devConsoleIframe, "/dev-console/console")
            ]);

            // Remove loading class
            iframeWrapper.classList.remove("loading");

            // Hide iframe loading animation
            iframeLoadingAnimation.style.display = "none";

            // Send data to UpGrade
            const sendDataToUpgrade = (data) => {
                upgradeIframe.contentWindow.postMessage(data, "*");
            }

            // Send initial data to UpGrade
            sendDataToUpgrade({
                message: "initCall",
                type: "function",
                id: "set-zoom-level",
                args: ["90%"]
            });

            // Logout Button
            const logoutButton = document.getElementById("logout-button");
            logoutButton.addEventListener("click", async () => {
                try {
                    await LogHandler.info("Logging out the user...");
                    sendDataToUpgrade({
                        message: "initCall",
                        type: "function",
                        id: "logout"
                    });
                    await FetchWrapper.get("/api/v1/logout");
                    window.location.href = "/login";
                } catch (error) {
                    confirmModal.confirm("upgrade", `Error: ${error.status}`, error.message, ["OK"], () => {
                        window.top.location.href = "/login";
                    });
                }
            });

            // Tours bar/tab toggle
            const toursBar = document.getElementById("tours-bar");
            const toursTab = document.getElementById("tours-tab");
            const sidebar = document.getElementById("sidebar");
            const app = document.getElementById("app");
            toursBar.addEventListener("click", () => {
                toursTab.style.display = "flex";
                sidebar.style.marginLeft = "calc(-338px - 6px)";
                app.style.width = "calc(100% - 6px * 2)";
            });
            toursTab.addEventListener("click", () => {
                toursTab.style.display = "none";
                sidebar.style.marginLeft = "0px";
                app.style.width = "calc(100% - 338px - 6px * 3)";
            });

            // Remove loading class
            toursBar.classList.remove("loading");

            // Tour contents
            let tours = [];
            try {
                const data = await FetchWrapper.get("/api/v1/tours");
                tours = data.tours;
            } catch (error) {
                return confirmModal.confirm("upgrade", `Error: ${error.status}`, error.message, ["OK"], () => {
                    window.top.location.href = "/login";
                });
            }
            const toursContainter = document.getElementById("tours-container");
            const tourBars = toursContainter.querySelectorAll(".tour-bar");
            let selectedTourBar = null;
            let activeWindowEvent = null;

            const initCallFunction = {
                "select-nth-student": async (args, substep) => {
                    const [nth, nameToReplace] = args;
                    const userNameSelect = quizAppIframe.contentDocument.getElementById("username-select");
                    userNameSelect.selectedIndex = nth; // The "n" starts from 1
                    userNameSelect.dispatchEvent(new Event("change"));
                    const studentName = userNameSelect.options[userNameSelect.selectedIndex].text;
                    substep.content = substep.content.replace(nameToReplace, studentName);
                },
                "set-third-student": async (args, substep) => {
                    const {
                        students
                    } = await FetchWrapper.get("/api/v1/students");
                    const context = "<%= upgradeContext %>";
                    const site = "area";
                    const target = "question_type";
                    const questionTypeSet = new Set();
                    let thirdStudentIndex = 3; // This is actually the fourth student's index from the student list (counting from 0)
                    for (let i = 1; i < students.length; i++) {
                        const upClient = new UpgradeClient(students[i]._id, hostUrl);
                        await upClient.init();
                        const condition = await upClient.getExperimentCondition(context, site, target);
                        const questionType = condition && condition.assignedCondition.conditionCode;
                        if (questionType == null) {
                            continue;
                        }
                        questionTypeSet.add(questionType);
                        if (questionTypeSet.size === 2 && i > 2) {
                            thirdStudentIndex = i;
                            break;
                        }
                    }
                    const welcomeTour = tours.find(tour => tour.name === "Welcome Tour");
                    const studentExpWithUpGradeStep = welcomeTour.steps.find(step => step.title === "Student Experience with UpGrade");
                    const selectNthStudentSubsteps = studentExpWithUpGradeStep.substeps.filter(substep => substep.initCall && substep.initCall.id === "select-nth-student");
                    selectNthStudentSubsteps[2].initCall.args[0] = thirdStudentIndex + 1; // The "n" starts from 1
                },
                "create-experiment-area-concrete-or-abstract": async (args, substep) => {
                    // Delete all existing experiments
                    await dataResetter.deleteAllExperiments();

                    // Create an experiment with the JSON file
                    const response = await fetch("/asset/experiment/area-concrete-or-abstract.json");
                    const json = await response.json();
                    await FetchWrapper.post(`${hostUrl}/api/experiments`, json);
                },
                "insert-copy-to-clipboard-buttons": async (args, substep) => {
                    let position = 0;
                    for (const text of args) {
                        const startIndex = substep.content.indexOf(text, position);
                        if (startIndex > 0 && substep.content[startIndex - 1] === '"') {
                            const endIndex = startIndex + text.length - 1;
                            // Insert the copy-to-clipboard button right next to the closing double quote
                            const insertIndex = substep.content.indexOf('"', endIndex) + 1;
                            if (insertIndex) {
                                const elemToInsert = `<i class="copy-to-clipboard-button fa-regular fa-copy" onclick='copyToClipboard(this, "${text}");'></i>`;
                                substep.content = substep.content.slice(0, insertIndex) + elemToInsert + substep.content.slice(insertIndex).trim();
                                position = insertIndex + elemToInsert.length;
                            }
                        }
                    }
                }
            }

            const initCall = {
                "home": async (type, id, args, substep) => {
                    if (type === "function") {
                        return await initCallFunction[id](args, substep);
                    }
                    const elem = document.getElementById(id);
                    if (elem) {
                        elem[type](...args);
                    }
                },
                "quiz-app": async (type, id, args, substep) => {
                    if (type === "function") {
                        return await initCallFunction[id](args, substep);
                    }
                    const elem = quizAppIframe.contentDocument.getElementById(id);
                    if (elem) {
                        elem[type](...args);
                    }
                },
                "admin-tool": async (type, id, args, substep) => {
                    if (type === "function") {
                        return await initCallFunction[id](args, substep);
                    }
                    const elem = adminToolIframe.contentDocument.getElementById(id);
                    if (elem) {
                        elem[type](...args);
                    }
                },
                "upgrade": async (type, id, args, substep) => {
                    sendDataToUpgrade({
                        message: "initCall",
                        type,
                        id,
                        args
                    });
                },
                "dev-console": async (type, id, args, substep) => {
                    if (type === "function") {
                        return await initCallFunction[id](args, substep);
                    }
                    const elem = devConsoleIframe.contentDocument.getElementById(id);
                    if (elem) {
                        elem[type](...args);
                    }
                },
            };

            const removeActiveWindowEvent = () => {
                if (activeWindowEvent) {
                    activeWindowEvent.target.removeEventListener(activeWindowEvent.type, activeWindowEvent.callback, true);
                    activeWindowEvent = null;
                }
            }

            const addWindowEvent = (target, type, callback) => {
                removeActiveWindowEvent();
                target.addEventListener(type, callback, true);
                activeWindowEvent = {
                    target,
                    type,
                    callback
                };
            }

            const nextCallback = {
                "home": (type, id, args, onNextCall) => {
                    const onWindowEvent = async (event) => {
                        const elem = document.getElementById(id);
                        if (elem && elem.contains(event.target)) {
                            removeActiveWindowEvent();
                            await onNextCall();
                        }
                    }
                    addWindowEvent(window, type, onWindowEvent);
                },
                "quiz-app": (type, id, args, onNextCall) => {
                    const onWindowEvent = async (event) => {
                        const elem = quizAppIframe.contentDocument.getElementById(id);
                        if (elem && elem.contains(event.target)) {
                            removeActiveWindowEvent();
                            // Note: This seems a bit hacky, maybe there's a better way to handle this
                            const hrefModIds = ["login-button", "start-button", "submit-button", "logout-button"];
                            if (hrefModIds.includes(id)) {
                                quizAppIframe.onload = async () => {
                                    quizAppIframe.onload = null;
                                    await onNextCall();
                                }
                                return;
                            }
                            await onNextCall();
                        }
                    }
                    addWindowEvent(quizAppIframe.contentWindow, type, onWindowEvent);
                },
                "admin-tool": (type, id, args, onNextCall) => {
                    const onWindowEvent = async (event) => {
                        const elem = adminToolIframe.contentDocument.getElementById(id);
                        if (elem && elem.contains(event.target)) {
                            removeActiveWindowEvent();
                            await onNextCall();
                        }
                    }
                    addWindowEvent(adminToolIframe.contentWindow, type, onWindowEvent);
                },
                "upgrade": (type, id, args, onNextCall) => {
                    const onWindowMessage = async (event) => {
                        const data = event.message || event.data;
                        if (data.message === "onNextCall") {
                            removeActiveWindowEvent();
                            await onNextCall();
                        }
                    }
                    addWindowEvent(window, "message", onWindowMessage);
                    sendDataToUpgrade({
                        message: "nextCallback",
                        type,
                        id,
                        args
                    });
                },
                "dev-console": (type, id, args, onNextCall) => {
                    const onWindowEvent = async (event) => {
                        const elem = devConsoleIframe.contentDocument.getElementById(id);
                        if (elem && elem.contains(event.target)) {
                            removeActiveWindowEvent();
                            await onNextCall();
                        }
                    }
                    addWindowEvent(devConsoleIframe.contentWindow, type, onWindowEvent);
                }
            };

            const unselectAllStepBars = () => {
                const stepBars = toursContainter.querySelectorAll(".step-bar");
                for (const stepBar of stepBars) {
                    if (stepBar.classList.contains("selected")) {
                        stepBar.classList.remove("selected");
                    }
                }
            }

            const quitTour = () => {
                quizAppIframe.onload = null;
                sendDataToUpgrade({
                    message: "initCall",
                    type: "function",
                    id: "remove-active-window-event"
                });
                removeActiveWindowEvent();
                unselectAllStepBars();
                selectedTourBar.classList.remove("selected");
                selectedTourBar = null;
                tourModal.destroy();
            }

            const startTour = async (tour, tourBar, stepBars) => {
                // Show iframe loading animation
                quizAppIframe.style.display = "none";
                adminToolIframe.style.display = "none";
                upgradeIframe.style.display = "none";
                devConsoleIframe.style.display = "none";
                iframeLoadingAnimation.style.display = "block";
                iframeWrapper.classList.add("loading");

                // Set the selected tour bar
                tourBar.classList.add("selected");
                selectedTourBar = tourBar;

                // Select the first step bar
                stepBars[0].classList.add("selected");

                try {
                    // Clear all data and save metrics
                    await dataResetter.deleteAllExperiments();
                    await dataResetter.clearUpgradeData();
                    await dataResetter.clearDemoAppData();
                    await dataResetter.saveMetrics();
                } catch (error) {
                    return confirmModal.confirm("upgrade", `Error: ${error.status}`, error.message, ["OK"], () => {
                        window.top.location.href = "/login";
                    });
                }

                // Reset iframe pages
                sendDataToUpgrade({
                    message: "initCall",
                    type: "function",
                    id: "logout"
                });
                await Promise.all([
                    loadIframe(quizAppIframe, quizAppIframe.src),
                    loadIframe(adminToolIframe, adminToolIframe.src),
                    loadIframe(devConsoleIframe, devConsoleIframe.src)
                ]);

                // Hide iframe loading animation
                iframeLoadingAnimation.style.display = "none";
                iframeWrapper.classList.remove("loading");

                // Click the first step tab
                const firstStepTab = document.getElementById(`${tour.steps[0].context}-tab`);
                firstStepTab.click();

                // Show tour modal
                const showTourModal = async (stepIndex, substepIndex) => {
                    const step = tour.steps[stepIndex];
                    const substep = Object.assign({}, step.substeps[substepIndex]); // Clone the substep to keep the original
                    const onNextCall = async () => {
                        if (substepIndex + 1 < step.substeps.length) {
                            await showTourModal(stepIndex, substepIndex + 1);
                            return;
                        }
                        if (stepIndex + 1 < tour.steps.length) {
                            stepBars[stepIndex].classList.remove("selected");
                            stepBars[stepIndex + 1].classList.add("selected");
                            await showTourModal(stepIndex + 1, 0);
                            return;
                        }
                        quitTour();
                    }
                    if (substep.initCall) {
                        try {
                            await initCall[substep.initCall.context](substep.initCall.type, substep.initCall.id, substep.initCall.args || [], substep);
                        } catch (error) {
                            return confirmModal.confirm("upgrade", `Error: ${error.status}`, error.message, ["OK"], () => {
                                window.top.location.href = "/login";
                            });
                        }
                    }
                    if (substep.nextCallback) {
                        nextCallback[substep.nextCallback.context](substep.nextCallback.type, substep.nextCallback.id, substep.nextCallback.args || [], onNextCall);
                    }
                    tourModal.tour(step.context, `${step.title} (${substepIndex + 1}/${step.substeps.length})`, substep.content, substep.buttonTexts || [], async (buttonText) => {
                        if (buttonText === "Close") {
                            confirmModal.confirm("upgrade", "UpGrade Demo", `Do you want to quit the ${tour.name}?`, ["Cancel", "Quit"], (buttonText) => {
                                if (buttonText === "Quit") {
                                    quitTour();
                                }
                            });
                        } else {
                            await onNextCall();
                        }
                    });
                }
                await showTourModal(0, 0);
            }

            // Handle tour bar clicking (start/quit the tour)
            for (let i = 0; i < tourBars.length; i++) {
                const tourBar = tourBars[i];
                const tourWrapper = tourBar.querySelector(".tour-wrapper");
                const stepBars = tourBar.querySelectorAll(".step-bar");
                const tour = tours[i];
                tourWrapper.addEventListener("click", () => {
                    if (tourBar.classList.contains("selected")) {
                        confirmModal.confirm("upgrade", "UpGrade Demo", `Do you want to quit the ${tour.name}?`, ["Cancel", "Quit"], (buttonText) => {
                            if (buttonText === "Quit") {
                                quitTour();
                            }
                        });
                    } else {
                        if (selectedTourBar) {
                            const selectedTourText = selectedTourBar.querySelector(".tour-text");
                            confirmModal.confirm("upgrade", "UpGrade Demo", `Do you want to quit the ${selectedTourText.innerText} and start the ${tour.name}? Please note this will reset the application data.`, ["Cancel", "Yes"], async (buttonText) => {
                                if (buttonText === "Yes") {
                                    quitTour();
                                    await startTour(tour, tourBar, stepBars);
                                }
                            });
                        } else {
                            confirmModal.confirm("upgrade", "UpGrade Demo", `Click "Start" to start the ${tour.name}.`, ["Cancel", "Start"], async (buttonText) => {
                                if (buttonText === "Start") {
                                    await startTour(tour, tourBar, stepBars);
                                }
                            });
                        }
                    }
                });
            }
            // Remove loading class
            toursContainter.classList.remove("loading");

            // QuizApp / Admin Tool / UpGrade / Dev Console Tabs
            const tabs = Array.from(document.getElementsByClassName("tab")).slice(1); // Exclude the Tours tab
            const tabColorMap = {
                "quiz-app": "1CC198",
                "admin-tool": "FF9129",
                "upgrade": "3F68F6",
                "dev-console": "F6683F"
            };

            async function onTabClick() {
                try {
                    for (const tab of tabs) {
                        const context = tab.id.slice(0, -4); // Remove the last "-tab" from the tab ID
                        const tabColor = tabColorMap[context];
                        const tabIcon = tab.querySelector(".tab-top .tab-icon");
                        const tabText = tab.querySelector(".tab-top .tab-text");
                        const tabBottom = tab.querySelector(".tab-bottom");
                        const iframe = document.getElementById(`${context}-iframe`);
                        if (tab === this) { // If the tab is clicked
                            switch (context) {
                                case "quiz-app":
                                    break;
                                case "admin-tool":
                                    if (iframe.contentWindow.updateTable) {
                                        await iframe.contentWindow.updateTable();
                                    }
                                    break;
                                case "upgrade":
                                    sendDataToUpgrade({
                                        message: "initCall",
                                        type: "function",
                                        id: "on-upgrade-tab-click"
                                    });
                                    break;
                                case "dev-console":
                                    if (iframe.contentWindow.updateTable) {
                                        iframe.style.display = "block";
                                        await iframe.contentWindow.updateTable();
                                    }
                                    break;
                            }
                            tabIcon.className = `tab-icon recolor-${tabColor}`;
                            tabText.style.color = `#${tabColor}`;
                            tabBottom.style.background = `#${tabColor}`;
                            iframe.style.display = "block";
                            iframe.focus();
                            continue;
                        }
                        tabIcon.className = "tab-icon recolor-444444";
                        tabText.style.color = "#444444";
                        tabBottom.style.background = "transparent";
                        iframe.style.display = "none";
                    }
                } catch (error) {
                    confirmModal.confirm("upgrade", `Error: ${error.status}`, error.message, ["OK"], () => {
                        window.top.location.href = "/login";
                    });
                }
            }
            for (const tab of tabs) {
                // Add listeners
                tab.addEventListener("click", onTabClick);

                // Remove loading class
                tab.classList.remove("loading");
            }
            // Select the QuizApp tab
            tabs[0].click();
        });
    </script>
</body>

</html>